@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap");
.woocommerce {
  margin: 1em 0;
}
.woocommerce .entry-title {
  /* margin-top: 1em; */
}
.woocommerce .product {
  margin-top: 1.5em;
}

/*********************
    BREAKPOINTS
*********************/
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
/*********************
    BREAKPOINTS
*********************/
/* Veriables
==============================================*/
/* Main
==============================================*/
html {
  font-size: 62.5%;
}

body, p {
  margin: 0;
  font-size: 1.6rem;
  font-family: stolzl, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgba(0, 0, 0, 0.9);
  line-height: 3rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: url(./round.svg);
  background-size: 67%;
  background-repeat: repeat-y;
  background-position: right 0 top -20%;
  background-blend-mode: color;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #FF7E35;
  font-family: "Stolzl", sans-serif;
  line-height: 1em;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.8rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 3.5rem;
  }
}
/* Links */
a:link {
  color: rgba(0, 0, 0, 0.9);
}
a:link:hover {
  color: rgba(236, 202, 140, 0.863);
}

a:visited, a:active {
  color: rgba(0, 0, 0, 0.9);
}

/* Inputs */
input, .input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 16px;
  box-sizing: border-box;
  color: blue;
}

/* Layout Elements
==============================================*/
.wrapper {
  max-width: 1280px;
  padding: 0 5vw;
}
.wrapper__body {
  width: 100%;
}
.wrapper__heading {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
}
.wrapper__heading span {
  display: block;
  letter-spacing: 0.2rem;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .wrapper__heading {
    margin: 0;
    margin-bottom: 200px;
  }
  .wrapper__heading span {
    margin-top: min(10vw, 100px);
    padding-top: 1em;
  }
  .wrapper__body {
    max-width: 600px;
    text-align: center;
    font-family: stolzl, sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
  }
}

.button {
  display: inline-block;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 20px;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid rgba(0, 0, 0, 0.9);
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 1.6rem;
  }
}

.button-white {
  background-color: #fff;
}

header, section, footer, .content-area, main {
  margin: 0 auto;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  header, section, footer, .content-area, main {
    padding: 36px;
  }
}

/* Header
==============================================*/
.main-header {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 100;
  gap: 10px;
  grid-template: "nav logo tools";
  grid-template-columns: repeat(3, 1fr);
  padding: 0 18px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.main-header a {
  text-decoration: none;
  font-weight: 400;
}
.main-header__logo {
  grid-area: logo;
  font-size: 2.4rem;
  font-weight: 600;
  justify-self: center;
  align-self: center;
}
.main-header__logo .logo-type {
  color: #FF7E35;
}
.main-header__nav {
  grid-area: nav;
  justify-self: start;
  align-self: center;
}
.main-header__nav .menu {
  display: none;
  padding: 0;
  list-style: none;
}
.main-header__nav .menu .menu-item {
  display: inline-block;
  padding: 0 32px;
}
.main-header__nav .menu-link {
  width: 2.4rem;
  height: 1.4rem;
  position: relative;
}
.main-header__nav .menu-link span {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 0.2rem;
  background-color: black;
}
.main-header__nav .menu-link span:first-child {
  top: 0;
}
.main-header__nav .menu-link span:last-child {
  bottom: 0;
}
.main-header__tools {
  grid-area: tools;
  justify-self: end;
  align-self: center;
}
.main-header__tools .tools-icon {
  padding: 0.6rem;
}
@media screen and (min-width: 768px) {
  .main-header {
    grid-template: "logo nav tools";
    background-color: rgba(255, 255, 255, 0);
  }
  .main-header__logo {
    justify-self: start;
  }
  .main-header__nav {
    justify-self: center;
  }
  .main-header__nav .menu {
    display: block;
  }
  .main-header__nav .menu-link {
    display: none;
  }
}

/* Hero
==============================================*/
.hero {
  position: relative;
  padding-top: 60px;
  justify-content: start;
}
.hero__wrapper {
  display: grid;
  z-index: 2;
  text-decoration: none;
  align-content: center;
}
.hero__wrapper h1 {
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 80vh;
    padding-top: O;
    padding-bottom: min(0vh);
  }
  .hero__wrapper {
    align-content: start;
  }
}

#siri__wrapper {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: mediumorchid;
}

#siri-back {
  position: absolute;
  z-index: -1;
  letter-spacing: -10px;
  font-family: "Roboto", sans-serif;
  font-size: 20em;
  color: rgba(255, 231, 188, 0.4);
  background-image: url("../images/hero-image-siri.jpg");
  background-size: 1.7em;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: bottom 50% right max(-150%, -1em);
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (min-width: 768px) {
  #siri-back {
    display: block;
    top: -0.2em;
    font-size: min(62vw, 52em);
    letter-spacing: -32px;
    transform: translateX(-0.2em);
    background-position: bottom 50% right -220%;
  }
}
/* Promo Card
==============================================*/
.standard-promo {
  display: grid;
}
@media screen and (min-width: 1024px) {
  .standard-promo {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 450px;
    gap: 30px;
  }
  .standard-promo .promo-card {
    display: grid;
    align-content: center;
  }
  .standard-promo .promo-card__heading, .standard-promo .promo-card__body {
    max-width: 300px;
    text-align: center;
  }
  .standard-promo .promo-card__heading {
    margin: 0;
  }
  .standard-promo .promo-card__body {
    line-height: 3rem;
  }
  .standard-promo .promo-card--classic, .standard-promo .promo-card--extra {
    background-size: cover;
    background-position: right;
  }
}

/* Block */
.promo-card {
  text-decoration: none;
  padding: 16px;
  margin-bottom: 20px;
  /* Element */
  /* Modifiers */
}
.promo-card:hover {
  text-decoration: underline;
}
.promo-card__body {
  max-width: 70%;
}
.promo-card--gray {
  background-color: #f2f3f5;
}
.promo-card--classic {
  background-image: url("../images/female.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(100% - -50px);
}
.promo-card--extra {
  background-image: url("../images/male.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(100% - -30px);
}

/* Shop Section */
.shop-section {
  display: block;
}
.shop-section__heading, .shop-section__body {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .shop-section-1 {
    margin-top: 200px;
  }
}

/* Newsletter */
.newsletter {
  display: grid;
  align-items: center;
  gap: 20px;
}
.newsletter__heading {
  max-width: 500px;
  line-height: 4rem;
  font-size: 3rem;
  margin: 0;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .newsletter {
    grid-template-columns: 2fr 1fr;
  }
}

.form__email {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}
.form__submit {
  width: 100%;
}

/* Footer */
footer {
  background-color: #c8c8c8;
  margin-top: 3em;
  color: #eee;
}

.footer {
  display: grid;
  gap: 20px;
}
.footer a:link {
  color: #eee;
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer-container__heading {
  display: flex;
  justify-content: space-between;
}
.footer-container__body {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-container__body a {
  display: block;
  padding: 8px 0;
}
@media screen and (min-width: 768px) {
  .footer-container__body {
    display: block;
  }
  .footer-container__heading {
    justify-content: center;
    align-items: center;
  }
  .footer-container__heading svg {
    display: none;
  }
}

/* CopyRight */
.copyright {
  margin-top: 40px;
  text-align: center;
}
.copyright__social a {
  padding: 10px;
}
.copyright__body {
  margin: 20px 0 0;
}

/*# sourceMappingURL=style.css.map */
