@import 'woocommerce';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import "_breakpoints.scss";


/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

@import "_breakpoints.scss";

/* Veriables
==============================================*/
$primary-color: rgba(0, 0, 0, 0.9);
$title-color: #FF7E35;
$secondary-color: #fff;
$headings-font: 'Work Sans', sans-serif;
$hero-title: 'Roboto', sans-serif; 
$body-font: stolzl, sans-serif;
$mobile-padding: 16px;
$desktop-padding: 36px;

/* Main
==============================================*/
// 1 rem becomes 10px !! 
html { font-size: 62.5%; }

body, p {
    margin: 0;
    font-size: 1.6rem;
    font-family: $body-font;
    font-weight: 300;
    font-style: normal;
    color: $primary-color;
    line-height: 3rem;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: url(./round.svg);
    background-size: 67%;
    background-repeat: repeat-y;
    background-position: right 0 top -20%;
    background-blend-mode: color;

}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color : $title-color;
    font-family: $headings-font;
    line-height: 1em;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

h2 { font-size: 2.8rem; }

@include tablet-portrait {
    h1 { font-size: 9rem; }
    h2 { font-size: 3.5rem; }
} 

/* Links */
a:link {
    color: $primary-color;
    &:hover {
        color: rgba(236, 202, 140, 0.863);
    }
}

a:visited, a:active { 
    color: $primary-color;
    // shadow 
 }

/* Inputs */
input, .input {
    border: none !important;
    background-image: none !important;
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding: 16px !important;
    box-sizing: border-box !important;
    color:blue !important;
}

img {
    display:block;
    height: auto;
    width: 100%;
}


/* Layout Elements
==============================================*/
.split {
    display: flex;
    flex-direction: column;

    @include tablet-portrait {
            flex-direction: row;

    
        & > * {
            flex-basis: 100%;
        }
    
        & > * + * {
            margin-left: 2em;
        }
    }
}

.split > * + * {
    margin-top: 1em;
    margin-bottom: 2em;
}

.section__wrapper {
    margin-inline: auto;
}

.text__wrapper {
    margin: 0;
    padding: 2em 0;
    border: 25px solid black;
    background-color: #96D5B6;

    p {
        padding: 0 2em;
        text-align: center;
    }
}

/*==============================================*/
.wrapper {
    max-width: 1280px;
    padding: 0 5vw;

    &__body { 
        width: 100%;
        background-color: rgba(255,255,255,0.5)
    }


    &__heading { 
        width: 100%;
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
        background-color: rgba(255,255,255,0.5);

        span {
            display: block;
            letter-spacing: 0.2rem;
            margin: 10px;
        }
    }

    @include tablet-portrait {
        padding-left: 1em;        
        
        &__heading {
            margin: 0;
            margin-bottom: 200px;

            span {
                margin-top: min(10vw,100px);
                padding-top: 1em;
            }
        }

        &__body {
            max-width: 600px;
            text-align: center;
            font-family: $body-font;
            font-size: 1.6rem;
            line-height: 3rem; 
            background-color: transparent;
        }
    }
}

.button {
    display: inline-block !important;
    color: $primary-color !important;
    margin-top: 20px !important;
    padding: 5px 16px !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 1.2rem !important;
    border: 2px solid $primary-color !important;

    @include tablet-portrait {
        font-size: 1.6rem !important;
    }
}

.button-white {
    background-color: $secondary-color !important;
}

header, section, footer, .content-area, main {
    margin: 0 auto;
    padding: $mobile-padding;

    @include tablet-portrait {
        padding: $desktop-padding;
    }
}


/* Header
==============================================*/

.main-header {
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
    padding: 5px 18px;
    top:0; left: 0; right: 0;
    z-index: 1;
    gap: 10px;
    grid-template: 
    'nav logo tools';
    grid-template-columns: 1fr 40vw 1fr; //repeat(3, 1fr);
    background-color: $secondary-color;

    a { text-decoration: none; font-weight: 400; }

    &__logo {
        grid-area: logo;
        font-size: 2rem;
        font-weight: 900;
        justify-self: center;
        align-self: center;

        .logo-type {
            color:$title-color;
        }
    }

    &__nav {
        grid-area: nav;
        justify-self: start;
        align-self: center;

        .menu { 
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            background-color: $secondary-color;
            padding: 0;
            list-style: none;

            .menu-item {
                width: 100vw;
            }
        }

        .menu-link {
            width: 2.4rem;
            height: 1.4rem;
            position: relative;

            span {
                position: absolute;
                left: 0; right: 0;
                display: block;
                height: 0.2rem;
                background-color: $primary-color;

                &:first-child { top: 0; }
                &:last-child { bottom: 0; }
            }
        }
    }

    &__tools {
        grid-area: tools;
        justify-self: end;
        align-self: center;

        .tools-icon {
            padding: 0.6rem;
        } 
    }


    @include tablet-portrait {
        grid-template: 
        'logo nav tools';
        background-color: transparent;

        &__logo {
            font-size: 3rem;
            justify-self: start;
        }

        &__nav {
            justify-self: center;

            .menu { 
                display: block;
                position: relative;
                background-color: rgba(255, 255, 255, .7);

                .menu-item {
                    display: inline-block;
                    width: auto;
                    padding: 0 32px;
                }
            }
            .menu-link { display: none; }
        }
    }
}



/* Hero
==============================================*/
.hero {
    display: flex;
    position: relative;
    padding-top: 10px;
    justify-content: start;

    &__wrapper {
        display: grid;
        z-index: 2;
        text-decoration: none;
        align-content: center;
        
        h1 {
            z-index: 5; 
        }
    }

    @include tablet-portrait {
        padding-top: 1em;
        padding-bottom: min(0vh);

        &__wrapper {
            align-content: start;
        }
    }

}

#siri-back {
    position: absolute;
    top:-20px;
    z-index: -1;
    letter-spacing: -10px;
    font-family: $hero-title;
    font-size: 12em;
    color: rgba(255, 231, 188, 0.4);
    background-image: url("../images/hero-image-siri.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-position: bottom 50% right max(-150%, -1em);
    background-clip: text;
    -webkit-background-clip: text; //important!
}

@include tablet-portrait {
    #siri-back {
        top:-.25em;
        font-size: min(62vw, 52em);
        letter-spacing: -32px;
        background-size: min(100%, 1.7em);
        background-repeat: no-repeat;
        transform: translateX(-0.21em);//check right 0.2em
        background-position: bottom 50% right -220%; 
    }
}

/* Promo Card
==============================================*/
.standard-promo {
    display: grid;

    @include desktop {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 450px;
        gap: 30px;

        .promo-card {
            display: grid;
            align-content: center;

            &__heading, &__body { max-width: 300px; text-align: center; }
            &__heading { margin: 0; }
            &__body { line-height: 3rem; }

            &--classic, &--extra {
                background-size: cover;
                background-position: right;
            }
        }
    }
}


/* Block */
.promo-card {
    text-decoration: none;
    padding: $mobile-padding;
    margin-bottom: 20px;

    &:hover {
        text-decoration: underline;
    }

    /* Element */
    &__body { max-width: 70%; }

    /* Modifiers */
    &--gray { background-color: #f2f3f5; }

    &--classic {
        background-image: url("../images/female.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: calc(100% - -50px);
    }

    &--extra {
        background-image: url("../images/male.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: calc(100% - -30px);
    }
}


/* Shop Section */
.shop-section {
    display: block;
    &__heading, &__body {
        text-align: center;
    }
}

.shop-section-1 {
    @include tablet-portrait {
        padding: 30vh 0;
    }
}

/* About Section */
.about-section {
    padding:0;
    
}


/* Newsletter */
.newsletter {
    display: grid;
    padding: 10vh 0;
    align-items: center;
    gap: 20px;

    &__heading {
        max-width: 500px;
        line-height: 4rem;
        font-size: 3rem;
        margin: 0;
        font-style: italic;
    }

    

    @include tablet-portrait {
        grid-template-columns: 2fr 1fr;
        padding-right: 10vh;
    }
}

//todo check margin in form
.form {
    margin: 0 0 10px 0 !important;

    &__email {
        width: 100%  !important;
        border-bottom: 1px solid $primary-color !important;
    }

    &__submit {
        width: 100% !important;
    }
}


/* Footer */
footer {
    background-color: rgb(200, 200, 200);
    margin-top: 3em;
    color: $secondary-color;


}

.footer {
    display: grid;
    gap: 20px;

    a:link {
        color: $secondary-color;
    }

    @include tablet-portrait {
        grid-template-columns: repeat(3, 1fr)
    }

    &-container {
        &__heading {
            display: flex;
            justify-content: space-between;
        }

        &__body {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;

            a { 
                display: block;
                padding: 8px 0;
            }
        }

        @include tablet-portrait {

            &__body { display: block; }
            &__heading {
                justify-content: center;
                align-items: center;

                svg {
                    display: none;
                }
            }
        }
    }
}


/* CopyRight */
.copyright {
    margin-top: 40px;
    text-align: center;

    &__social {
        a { padding: 10px; }
    }
 
    &__body { margin: 20px 0 0; }
}

/* Page Hero */
.page-hero {
    display: grid;
    margin: 1em 0;
    width: 100%;
    height: 60vh;
    background-color: #ececec;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
    color: $secondary-color;

    &__heading { 
        @include tablet-portrait {

        }
    }
}